h2 {
    color: rgb(15, 246, 250);
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    color:rgb(199, 248, 255);
    font-family: monospace;
}


body {
    background-color: rgb(47, 215, 209);
    background-image: url("Emerex.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: rgb(231, 158, 23);
    font-family: Comic Sans MS;
}

a:link{
    color:green;

}

a:visited{
    color:rgb(56, 182, 51);
}

a:hover{
    color:goldenrod;
}

